@import "tailwindcss";

@theme {
  --color-accent: #ffcfa8;
  --color-accent-foreground: #101010;

  --font-sans: var(--font-inter), sans-serif;
  --font-mono: var(--font-fira-code), monospace;
}

:root {
  --background: #101010;
  --foreground: #ffffff;
  --muted: #1a1a1a;
  --border: #2a2a2a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow: hidden;
  user-select: none;
}

@utility text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, var(--color-accent), var(--color-accent-foreground));
}

@utility bento-panel {
  background-color: var(--background);
  border: 1px solid var(--border);
}

@utility glass {
  background-color: var(--muted);
  border: 1px solid var(--border);
}

@utility scanline {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(255, 207, 168, 0.2);
    opacity: 0.3;
    animation: scan 4s linear infinite;
    pointer-events: none;
    z-index: 10;
  }
}


@keyframes scan {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(1000%); }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

